.data {
    width: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 2rem 0;
}
.data-outter-container {
    width: 100%;
    overflow-x: hidden;
    margin-top: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.files-container-outter {
    width: calc( 100vw - 4rem);
    max-width: 800px;
    padding: 0 2rem;
    overflow-x: hidden;
}
.headline {
    margin: 2rem 0 0 0;
    color: white;
}
.project-headline{
    color: white;
}
.custom-hr{
    width: 90%;
    height: 2px;
    background-color: #46000093;
    border: 0;
}
.files-container-inner {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    overflow-x: hidden;
    justify-content: center;
}

.file-container{
    width: calc(60% - 2rem);
    cursor: pointer;
    aspect-ratio: 1 / 1;
    background-color: #460000;
    border-radius: 5px;
    margin-bottom: .5rem;
    color: white;
    padding: .5rem;
    margin: .5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    margin-right: 5px;
}
@media screen and (min-width: 390px) {
    .file-container{
        width: calc(50% - 2rem);
    }
    .files-container-inner {
        justify-content: flex-start;
    }

}
@media screen and (min-width: 750px) {
    .file-container{
        width: calc(25% - 2rem);
    }
}
@media screen and (min-width: 530px) {
    .file-container{
        width: calc(33% - 2rem);
    }
}

@media screen and (min-width: 750px) {
    .file-container{
        width: calc(25% - 2rem);
    }
}
.info-container{
    width: calc(100% - 2rem);
    font-size: 10px;
    margin-top: .5rem;
    display: flex;
    flex-direction: row;
    position: absolute;
    padding: 1rem;
    bottom: 0;
}
.file-image {
    height: 4rem;
    filter: brightness(0) invert(1);
    width: 4rem;
}
.info-p {
    margin: 0;
    font-size: .5rem;
    margin: .1rem 0;
    color: #da5f5f;
    font-weight: 400;
    max-width: 120px;
    max-height: 25px;
    display: inline-block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.custom-color{
    color: rgb(255, 255, 255);
    font-size: .7rem;
    font-weight: bold;
}
.info-inner-left{
    width:70%;
    height: 100%;
    display:flex;
    flex-direction: column;
}
.info-container-inner {
    width: 100%;
    height: 100%;
    position: relative;
    flex-direction: row;
    display: flex;
    align-items: flex-end;
}
.info-inner-right {
    width: 30%;
    height: calc(100% - .3rem);
    display: flex;
    justify-content: center;
    align-items: flex-end;
    flex-direction: row;
    padding-bottom: .3rem;
}
.file-image-container {
    height: calc(100% - 4rem);
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    position: relative;
}
.logo{
    height: 5rem; 
    width: 5rem;
}
.file-input {
    display: none;
}
.file-input-label {
    width: 150px;
    height: 150px;
    border: 0;
    border-radius: 5px;
    background-color: #460000;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: white;
    font-weight: bold;
}
.uploaded-files-container{
    width: 280px;
    height: fit-content;
    max-height: 280px;
    overflow: hidden;
    margin: 2rem 0;
    display: flex;
    overflow-y: scroll;
    flex-direction: column;
    scrollbar-width: 0;
    justify-content: center;
    align-items: center;
}
.uploaded-files-container::-webkit-scrollbar{
    width: 0;
}
.uploaded-file-container{
    width: calc(100% - 2rem);
    height: 50px;
    display: flex;
    align-items: center;
    flex-direction: row;
    background-color: #460000;
    border-radius: 5px;
    justify-content: space-between;
    padding: 1rem;
    margin-bottom: .5rem;
}
.file-image-small {
    width: 40px;
    height: 40px;
}
.file-name{
    display: inline-block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    max-width: 150px;
    margin-left: 1rem;
    font-weight: bold;
    color: white;
}
.delete-uploaded-file {
    width: 35px;
    height: 35px;
    background-color: transparent;
    border: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}
.delete-icon{
    width: 100%;
    filter: brightness(0) invert(1);
}

.folder-dropdown {
    background-color: #460000;
    padding: 1rem;
    color: white;
    font-weight: bold;
    outline: none;
    border: 0px;
    border-radius: 5px;
    width: 210px;
}
.upload-button {
    margin: 1rem auto;
    min-width: 150px;
    border-radius: 5px;
    background-color: #460000;
    padding: 1rem;
    outline: none;
    border: 0px;
    color: white;
    font-weight: bold;
}
.status-message {
    width: calc(100% - 4rem);
    position: absolute;
    cursor: pointer;
    top: -10rem;
    border-radius: 5px;
    font-weight: bold;
    color: white;
    background-color: #460000;
    display: flex;
    align-items: center;
    justify-content: center;
    transition-duration: 300ms;
    padding: 2rem 1rem;
    z-index: 999;
    text-align: center;
}
.active-status-message {
    top: 1rem;
}
.upload-menu-item {
    display: none;
}
.active-menu {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}   
.choose-menu {
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    overflow-y: scroll;
    margin-top: 1rem;
    scrollbar-width: 0;
    width: fit-content;
    max-width: min(calc(100vw - 4rem), calc(100% - 4rem));
}
.choose-menu::-webkit-scrollbar{
    width: 0;
}
.choose-menu-button {
    background-color: #460000;
    color: white;
    border-radius: 5px;
    border: 0;
    padding: .5rem 1rem;
    margin-right: 1rem;
    min-width: fit-content;
    transition-duration: 300ms;
    font-weight: bold;
}
.choose-menu-button--active {
    background-color: #ffffff;
    color: black;
}
.text-input {
    background-color: #460000;
    border-radius: 5px;
    color: white;
    font-weight: bold;
    border: 0;
    outline: none;
    padding: 1rem;
    margin-top: 1rem;
}
.text-input--add-folder {
    margin-top: 0;
}
.close-hint {
    font-size: .8rem;
    font-weight: 300;
}
.flex-center {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
}
.user-codes-container {
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
    max-height: 240px;
    font-weight: bold;
    color: white;
    align-items: center;
}
.user-code-button {
    padding: .5rem 1rem;
    background-color: #460000;
    color: white;
    border: 0;
    border-radius: 5px;
    margin-bottom: .5rem;
    font-weight: bold;
}
.small-text {
    font-size: .7rem;
    font-weight: 400;
}
.text-center {
    text-align: center;
}