.data-viewer{
    height: calc(100vh - 10rem);
    width: calc(100vw - 6rem);
    transform: scale(0);
    background-color: #5e0000;
    margin: 1rem;
    position: absolute;
    top: 0;
    left: 0;
    transition-duration: 300ms;
    border-radius: 5px;
    transition-property: transform;
    display: flex;
    align-items: center;
    padding: 4rem 2rem;
    flex-direction: column;
}
.active-viewer {
    transform: scale(1);
}
.close-viewer {
    position: absolute;
    right: 0;
    top: 0;
    width: 50px;
    height: 50px;
    margin: 1rem;
    background-color: transparent;
    border: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
.close-icon{
    width: 30px;
    filter: brightness(0) invert(1);
}
.data-viewer table {
    width: 100%;
    text-align: center;
    margin-top: 4rem;
    color: white;
    border-spacing: 0 3rem;
}
.data-viewer table tr {
    margin: 1rem 0;
}
.data-viewer table td {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    max-width: 200px;
}
.download-button {
    height: 50px;
    width: 150px;
    border-radius: 5px;
    border: 0;
    background-color: #460000;
    color: white;
    font-weight: bold;
    padding: 0 1rem;
    text-decoration: none;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.helper-td {
    display: block;
    margin: auto;
    width: fit-content;
}
.file-delete-button {
    height: 50px;
    width: fit-content;
    background-color: #460000;
    border: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 1rem;
    border-radius: 5px;
    color: white;
    font-weight: bold;
}
.button-image-dump {
    height: 1.2rem;
    margin-right: 1rem;
    -webkit-filter: grayscale(1) invert(1); 
    filter: grayscale(1) invert(1);
}