.display-none{
  display: none;
}
.flex-space-between{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.folder-toggle-button{
  background-color: transparent;
  border: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  transform: rotateX(180deg);
  transition-duration: 300ms;
  transform-origin: center;
}
.open-folder{
  transform: rotateX(0deg)
}
.arrow-img{
  width: 2rem;
  height: 2rem;
}
.custom-hover{
  transition-duration: 300ms;
  background-color: #9A0000;
  padding: 0 1rem;
  border-radius: 5px;
  margin-bottom: 16px;
  cursor: pointer;
}
.custom-hover:hover{
  background-color: #46000080;
}