.form{
    display: flex;
    flex-direction: column;
}
.flex-row {
    display: flex;
    flex-direction: row;
}
.custom-p {
    width: fit-content;
    margin: 0;
}
.flex-center-column {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.login img {
    height: 5rem; 
    width: 5rem;
}
.login {
    height: 100vh;
}
.margin-bottom-1 {
    margin-bottom: 2rem;
}
.login input {
    height: 2rem;
    margin: .5rem 0;
    background-color: #750000;
    border: 0px;
    color: white;
    outline: none;
}
.login ::-webkit-input-placeholder{
    color: white;
}
.submit {
    height: 2rem;
    background-color: #460000;
    border: 0;
    color: white;
}
.register{
    background-color: transparent;
    outline: none;
    border: 0;
    color: rgb(223, 223, 223);
    margin-top: 1rem;
    text-decoration: underline;
    line-height: 1.2;
}
.login-status {
    color: white;
    font-weight: bold;
    font-size: .8rem;
    width: 200px;
    text-align: center;
}