.App {
  display: flex;
  width: 100%;
  height: 100vh;
  overflow-y: scroll;
  justify-content: center;
  background-color: #9A0000;
}
.App button {
  cursor: pointer;
}
#root {
  width: 100%;
}
.app-container {
  width: 100%;
}
.App::-webkit-scrollbar{
  width:0;
}
.html, body, #root {
  background-color: #9A0000;
  display: flex;
  justify-content: center;
}
.loading {
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-weight: bold;
  flex-direction: column;
  font-size: 2rem;
}
.loading-animation {
  width: 80px;
  height: 80px;
  margin-bottom: 1rem;
  animation: spinning 2s infinite;
}

@keyframes spinning {
  0%{
    transform: rotateY(0deg);
  }
  50%{
    transform: rotateY(180deg);
  }
  100%{
    transform: rotateY(360deg);
  }
}
.logout-button {
  position:absolute;
  top: 1rem;
  right: 1rem;
  color: white;
  background-color: transparent;
  border: 0;
  font-weight: bold;
  text-decoration: underline;
}